Repository Studio-Yandex-Practicum/lizaalert_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/ --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint src/ --fix"],
  "src/**/*.{scss,css}": ["prettier --write"],
  "*.md": ["prettier --write"]
}

#410-add-breadcrumbs (#420)
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/components/organisms/breadcrumbs/breadcrumbs.module.scss
  src/components/organisms/breadcrumbs/breadcrumbs.tsx
  src/components/organisms/breadcrumbs/hooks/use-breadcrumbs.ts
  src/components/organisms/breadcrumbs/index.ts
  src/components/organisms/breadcrumbs/types.ts
  src/pages/lesson/lesson.tsx
  src/pages/lesson/types.ts
Due: eslint src/ --fix, prettier --write

#418-updates
  src/api/authorization/mock/registration.ts
  src/api/lessons/mock/test.ts
Due: eslint src/ --fix

#418-fix-lesson-mock-data (#421)
  src/api/authorization/mock/login.ts
  src/api/authorization/mock/registration.ts
  src/api/core/abstract/base.api.ts
  src/api/course/mock/course.ts
  src/api/courses-filters/mock/courses-filters.ts
  src/api/courses/mock/courses.ts
  src/api/lessons/mock/lesson.ts
  src/api/lessons/mock/test.ts
Due: eslint src/ --fix

#411-added-registration-functionality
  src/api/authorization/index.ts
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/router/authorization.tsx
  src/router/router.tsx
  src/store/registration/selectors.ts
  src/store/registration/slice.ts
  src/store/registration/thunk.ts
  src/store/registration/types.ts
Due: eslint src/ --fix

#411-deleting-unnecessary-comment
  src/store/auth/thunk.ts
Due: eslint src/ --fix

#411-code-update-questions
  src/api/authorization/types.ts
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/router/authorization.tsx
  src/router/router.tsx
  src/store/auth/selectors.ts
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
  src/store/auth/types.ts
  src/store/registration/selectors.ts
  src/store/registration/slice.ts
  src/store/registration/thunk.ts
Due: eslint src/ --fix

#411-combining-registration-and-authorization-in-one-thunk
  src/api/authorization/index.ts
  src/api/authorization/types.ts
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/store/auth/selectors.ts
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
  src/store/auth/types.ts
  src/store/registration/selectors.ts
  src/store/registration/slice.ts
  src/store/registration/thunk.ts
  src/store/registration/types.ts
Due: eslint src/ --fix

#411-updates
  src/api/authorization/mock/registration.ts
Due: eslint src/ --fix

#411-add-registration-functionality (#419)
  src/api/authorization/index.ts
  src/api/authorization/mock/registration.ts
  src/api/authorization/types.ts
  src/components/organisms/register-form/register-form.tsx
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
Due: eslint src/ --fix

#396-add-navigation-between-lessons
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/components/organisms/navigation-buttons/navigation-buttons.tsx
  src/components/organisms/navigation-buttons/types.ts
  src/pages/lesson/lesson.tsx
  src/pages/lesson/utils.ts
Due: eslint src/ --fix

#396-fix-breadcrumbs-update
  src/components/organisms/breadcrumbs/hooks/use-breadcrumbs.ts
Due: eslint src/ --fix

#396-add-complete-lesson-api
  src/api/lessons/index.ts
  src/api/lessons/lessons.api.ts
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/components/organisms/navigation-buttons/navigation-buttons.module.scss
  src/components/organisms/navigation-buttons/navigation-buttons.tsx
  src/components/organisms/navigation-buttons/types.ts
  src/pages/lesson/lesson.tsx
  src/store/lesson/selectors.ts
  src/store/lesson/slice.ts
  src/store/lesson/thunk.ts
  src/store/lesson/types.ts
Due: eslint src/ --fix, prettier --write

#396-fix-no-mock-fn
  src/api/core/abstract/base.api.ts
Due: eslint src/ --fix

#396-first-lesson-returns-to-course-page
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix

#396-delete-unused-styles
  src/components/organisms/navigation-buttons/navigation-buttons.module.scss
Due: prettier --write

#396-navigation-between-lessons (#425)
  src/api/core/abstract/base.api.ts
  src/api/lessons/index.ts
  src/api/lessons/lessons.api.ts
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/components/organisms/breadcrumbs/hooks/use-breadcrumbs.ts
  src/components/organisms/navigation-buttons/navigation-buttons.tsx
  src/components/organisms/navigation-buttons/types.ts
  src/pages/lesson/lesson.tsx
  src/pages/lesson/utils.ts
  src/store/lesson/selectors.ts
  src/store/lesson/slice.ts
  src/store/lesson/thunk.ts
  src/store/lesson/types.ts
Due: eslint src/ --fix

#352-review-fixes
  src/components/molecules/yandex-oauth-button/types.ts
  src/components/molecules/yandex-oauth-button/yandex-oauth-button.module.scss
  src/components/molecules/yandex-oauth-button/yandex-oauth-button.tsx
  src/components/organisms/login-form/login-form.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/styles/_color-variables.scss
Due: eslint src/ --fix, prettier --write

#431-fix-markdown-style
  src/components/molecules/markdown/markdown.module.scss
Due: prettier --write

#351-add-mask-phone-input
  package-lock.json
  package.json
  src/components/organisms/register-form/register-form.tsx
  src/utils/validation.ts
Due: eslint src/ --fix

#351-refactor-review
  src/components/molecules/input/input.tsx
  src/components/molecules/input/types.ts
  src/components/organisms/register-form/register-form.tsx
Due: eslint src/ --fix

#352-updates
  src/components/molecules/yandex-oauth-button/yandex-oauth-button.module.scss
  src/components/organisms/login-form/login-form.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/register-form.module.scss
  src/styles/_color-variables.scss
Due: eslint src/ --fix, prettier --write

#352-add-yandex-oauth-button-component (#423)
  src/components/molecules/button/button.module.scss
  src/components/molecules/button/types.ts
  src/components/molecules/yandex-oauth-button/index.ts
  src/components/molecules/yandex-oauth-button/types.ts
  src/components/molecules/yandex-oauth-button/yandex-oauth-button.module.scss
  src/components/molecules/yandex-oauth-button/yandex-oauth-button.tsx
  src/components/organisms/login-form/login-form.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/register-form.module.scss
  src/styles/_color-variables.scss
Due: eslint src/ --fix, prettier --write

#431-fix-markdown-style (#432)
  src/components/molecules/markdown/markdown.module.scss
Due: prettier --write

#351-updates
  src/components/molecules/input/base-input.tsx
  src/components/molecules/input/input.tsx
  src/components/molecules/input/types.ts
Due: eslint src/ --fix

#351-updates
  src/components/molecules/input/base-input.tsx
Due: eslint src/ --fix

#351-updates
  src/utils/validation.ts
Due: eslint src/ --fix

#351-add-input-mask (#433)
  package-lock.json
  package.json
  src/components/molecules/input/base-input.tsx
  src/components/molecules/input/input.tsx
  src/components/molecules/input/types.ts
  src/components/organisms/register-form/register-form.tsx
  src/utils/validation.ts
Due: eslint src/ --fix

#415-add-video-link
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix

#415-add-null-check
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix

#358-change-continue-button-nav
  package-lock.json
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/api/courses/mock/courses.ts
  src/api/courses/types.ts
  src/components/organisms/course-overview/course-overview.tsx
  src/components/organisms/course-overview/types.ts
  src/components/organisms/course-preview/course-preview.tsx
  src/hooks/use-enroll-course.ts
  src/pages/course/course.tsx
Due: eslint src/ --fix

#358-fix-typo-in-type-name
  src/api/course/types.ts
  src/api/courses/types.ts
  src/components/organisms/course-overview/types.ts
  src/hooks/use-enroll-course.ts
Due: eslint src/ --fix

#358-change-continue-button-nav (#435)
  package-lock.json
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/api/courses/mock/courses.ts
  src/api/courses/types.ts
  src/components/organisms/course-overview/course-overview.tsx
  src/components/organisms/course-overview/types.ts
  src/components/organisms/course-preview/course-preview.tsx
  src/hooks/use-enroll-course.ts
  src/pages/course/course.tsx
Due: eslint src/ --fix

#415-get-video-by-id
  package-lock.json
  package.json
  src/api/lessons/mock/lesson.ts
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix

#415-add-video-description
  src/components/organisms/video-lesson/types.ts
  src/components/organisms/video-lesson/video-lesson.module.scss
  src/components/organisms/video-lesson/video-lesson.tsx
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix, prettier --write

#397-fix-after-1st-review
  src/api/lessons/lessons.api.ts
  src/components/organisms/test/hooks/use-test.ts
  src/store/test/slice.js
  src/store/test/thunk.ts
Due: eslint src/ --fix

#415-remove-autoplay-and-refactor-lesson-type
  src/api/course/index.ts
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/api/lessons/mock/lesson.ts
  src/components/organisms/video-lesson/video-lesson.tsx
  src/pages/lesson/lesson.tsx
  src/store/lesson/selectors.ts
Due: eslint src/ --fix

#415-review-fixes
  package-lock.json
  package.json
  src/components/organisms/video-lesson/video-lesson.module.scss
  src/components/organisms/video-lesson/video-lesson.tsx
  src/pages/lesson/lesson.tsx
  src/store/lesson/selectors.ts
  src/store/lesson/slice.ts
Due: eslint src/ --fix, prettier --write

#415-video-lesson (#434)
  package-lock.json
  package.json
  src/api/course/index.ts
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/api/lessons/mock/lesson.ts
  src/api/lessons/types.ts
  src/components/organisms/video-lesson/types.ts
  src/components/organisms/video-lesson/video-lesson.module.scss
  src/components/organisms/video-lesson/video-lesson.tsx
  src/pages/lesson/lesson.tsx
  src/store/lesson/slice.ts
Due: eslint src/ --fix, prettier --write

#444-validation-profile
  src/components/organisms/account-data/account-data.tsx
  src/components/organisms/personal-data/personal-data.tsx
  src/utils/validation.ts
Due: eslint src/ --fix

#442-add-check-for-lessons-count-and-course-duration
  src/api/course/types.ts
  src/api/courses/types.ts
  src/components/organisms/course-overview/course-overview.tsx
  src/components/organisms/course-overview/types.ts
  src/components/organisms/course-preview/course-preview.tsx
Due: eslint src/ --fix
