Repository Studio-Yandex-Practicum/lizaalert_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/ --fix, prettier --write

MIL-75-add-404-error-handler
  src/components/organisms/homework/homework.tsx
  src/hooks/use-homework.tsx
  src/store/homework/slice.ts
Due: eslint src/ --fix

MIL-114-add-webinar-description
  src/components/organisms/preview-webinar/preview-webinar.module.scss
  src/components/organisms/preview-webinar/preview-webinar.tsx
  src/components/organisms/preview-webinar/types.ts
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix, prettier --write

MIL-75-fix-reviewer-notes-2
  src/store/homework/slice.ts
Due: eslint src/ --fix

MIL-114-import-position-change
  src/components/organisms/preview-webinar/preview-webinar.tsx
Due: eslint src/ --fix

TM-48-add-clientId
  .env.example
Due: none

TM-48-add-yandex-oauth (#505)
  .env.example
  src/api/authorization/authorization.api.ts
  src/api/authorization/index.ts
  src/api/authorization/types.ts
  src/components/molecules/yandex-oauth-button/yandex-oauth-button.tsx
  src/config/index.ts
  src/pages/auth/auth.tsx
  src/pages/auth/index.ts
  src/router/router.tsx
  src/router/routes.ts
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
  src/utils/extract-oauth-token.ts
Due: eslint src/ --fix

MIL-75-add-homework-features (#509)
  src/api/course/mock/course.ts
  src/api/homework/homework.api.ts
  src/api/homework/index.ts
  src/api/homework/mock/homework.ts
  src/api/homework/types.ts
  src/api/lessons/mock/lesson.ts
  src/components/organisms/homework/homework.module.scss
  src/components/organisms/homework/homework.tsx
  src/hooks/use-homework.tsx
  src/store/homework/selectors.ts
  src/store/homework/slice.ts
  src/store/homework/thunk.ts
  src/store/homework/types.ts
  src/store/reducers.ts
  src/store/types.ts
  src/utils/constants.ts
Due: eslint src/ --fix, prettier --write

MIL-114-add-webinar-description (#510)
  src/components/organisms/preview-webinar/preview-webinar.module.scss
  src/components/organisms/preview-webinar/preview-webinar.tsx
  src/components/organisms/preview-webinar/types.ts
  src/pages/lesson/lesson.tsx
Due: eslint src/ --fix, prettier --write

Path conditions:
  eslint src/ --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/**/*.{scss,css}) or (any of: *.md)
