Repository Studio-Yandex-Practicum/lizaalert_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/ --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,json}": "eslint src/ --fix",
  "src/**/*.{scss,css,md}": "prettier --write"
}

update-lint-stage
  .lintstagedrc
Due: none

update-readme
  README.md
Due: none

install-cross-env
  README.md
  package-lock.json
  package.json
Due: none

update-lintstagedrc
  .lintstagedrc
  README.md
Due: none

audit-fix
  package-lock.json
Due: none

maintenance/husky-and-cross-env (#340)
  .husky/pre-commit
  .lintstagedrc
  .npmrc
  README.md
  package-lock.json
  package.json
Due: none

enhancement/typography-and-refactoring
  src/api/course/mock/course.mock.ts
  src/api/courses/mock/courses.mock.ts
Due: eslint src/ --fix

enhancement/update-typography-by-tags
  src/components/atoms/typography/index.ts
  src/components/atoms/typography/typography-by-tags.tsx
  src/components/molecules/accordion/accordion.tsx
  src/components/molecules/checkbox/checkbox.tsx
  src/components/molecules/password-updated/password-updated.tsx
  src/components/molecules/tag/tag.tsx
  src/components/molecules/test-success-rate/test-success-rate.tsx
  src/components/organisms/account-data/account-data.tsx
  src/components/organisms/account-overview/account-overview.tsx
  src/components/organisms/contents-item/contents-item.tsx
  src/components/organisms/course-benefits/course-benefits.tsx
  src/components/organisms/course-completed/course-completed.tsx
  src/components/organisms/course-contents/course-contents.tsx
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-overview/course-overview.tsx
  src/components/organisms/course-preview/course-preview.tsx
  src/components/organisms/faq/faq.tsx
  src/components/organisms/filter/filter.tsx
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/personal-data/personal-data.tsx
  src/components/organisms/preview-webinar/preview-webinar.tsx
  src/components/organisms/restore-password-form/restore-password-form.tsx
  src/components/organisms/test-preview/test-preview.tsx
  src/components/organisms/test-question/test-question.tsx
  src/components/organisms/test/test.tsx
  src/components/organisms/video-lesson/video-lesson.tsx
  src/components/templates/base-layout/base-layout.module.scss
  src/components/templates/base-layout/base-layout.tsx
  src/components/templates/header/header.tsx
  src/pages/course/course.tsx
  src/pages/courses/courses.tsx
  src/pages/create-course/create-course.tsx
  src/pages/development/development.tsx
  src/pages/error-boundary/error-boundary.tsx
  src/pages/lesson/lesson.jsx
  src/pages/login/login.tsx
  src/pages/not-found/not-found.tsx
  src/pages/profile/profile.jsx
  src/stories/index.stories.ts
  src/styles/index.scss
Due: eslint src/ --fix, prettier --write

enhancement/update-typography-by-tags (#342)
  src/components/atoms/typography/index.ts
  src/components/atoms/typography/typography-by-tags.tsx
  src/components/molecules/accordion/accordion.tsx
  src/components/molecules/checkbox/checkbox.tsx
  src/components/molecules/password-updated/password-updated.tsx
  src/components/molecules/tag/tag.tsx
  src/components/molecules/test-success-rate/test-success-rate.tsx
  src/components/organisms/account-data/account-data.tsx
  src/components/organisms/account-overview/account-overview.tsx
  src/components/organisms/contents-item/contents-item.tsx
  src/components/organisms/course-benefits/course-benefits.tsx
  src/components/organisms/course-completed/course-completed.tsx
  src/components/organisms/course-contents/course-contents.tsx
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-overview/course-overview.tsx
  src/components/organisms/course-preview/course-preview.tsx
  src/components/organisms/faq/faq.tsx
  src/components/organisms/filter/filter.tsx
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/personal-data/personal-data.tsx
  src/components/organisms/preview-webinar/preview-webinar.tsx
  src/components/organisms/restore-password-form/restore-password-form.tsx
  src/components/organisms/test-preview/test-preview.tsx
  src/components/organisms/test-question/test-question.tsx
  src/components/organisms/test/test.tsx
  src/components/organisms/video-lesson/video-lesson.tsx
  src/components/templates/base-layout/base-layout.module.scss
  src/components/templates/base-layout/base-layout.tsx
  src/components/templates/header/header.tsx
  src/pages/course/course.tsx
  src/pages/courses/courses.tsx
  src/pages/create-course/create-course.tsx
  src/pages/development/development.tsx
  src/pages/error-boundary/error-boundary.tsx
  src/pages/lesson/lesson.jsx
  src/pages/login/login.tsx
  src/pages/not-found/not-found.tsx
  src/pages/profile/profile.jsx
  src/stories/index.stories.ts
  src/styles/index.scss
Due: eslint src/ --fix, prettier --write

enhancement/add-useEvent-hook
  src/components/molecules/accordion/hooks/use-accordion.ts
  src/components/templates/base-layout/base-layout.tsx
  src/declaration.d.ts
  src/hooks/use-event.ts
  src/hooks/use-form-with-validation.ts
  src/stories/index.stories.ts
  src/styles/container.scss
  src/styles/index.scss
Due: eslint src/ --fix, prettier --write

fix-any
  package.json
  src/declaration.d.ts
  src/hooks/use-event.ts
Due: eslint src/ --fix

enhancement/add-useEvent-hook (#343)
  package.json
  src/components/molecules/accordion/hooks/use-accordion.ts
  src/components/templates/base-layout/base-layout.tsx
  src/declaration.d.ts
  src/hooks/use-event.ts
  src/hooks/use-form-with-validation.ts
  src/stories/index.stories.ts
  src/styles/container.scss
  src/styles/index.scss
Due: eslint src/ --fix, prettier --write

build: get backend origin from env and change courses state type
  .env.example
  .gitignore
  src/api/course/course.api.ts
  src/api/courses/courses.api.ts
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/config/import-build-target.ts
  src/config/index.ts
  src/pages/courses/courses.tsx
  src/store/courses/slice.ts
  src/store/courses/types.ts
Due: eslint src/ --fix

docs/update-readme
  README.md
Due: none

build/add-webpack
  .env.example
  .eslintignore
  .gitignore
  .husky/pre-commit
  .vscode/settings.json
  .webpack/utils.js
  .webpack/webpack.common.js
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
  package-lock.json
  package.json
  src/1222index.tsx
  src/index.js
  src/react-app-env.d.ts
  src/reportWebVitals.ts
Due: eslint src/ --fix

build/add-webpack-styles-loader
  .webpack/webpack.common.js
  package-lock.json
  package.json
  src/index.js
  src/styles/_font-variables.scss
Due: eslint src/ --fix, prettier --write

build/add-webpack-images-and-fonts-loaders
  .webpack/webpack.common.js
  .webpack/webpack.prod.js
  package-lock.json
  package.json
  src/assets/images/.gitkeep
  src/index.js
Due: eslint src/ --fix

build/add-webpack-gzip-compression
  .vscode/settings.json
  .webpack/webpack.prod.js
  package-lock.json
  package.json
Due: none

build/fix-vulnerabilities-and-delete-some-packages
  .babelrc
  .lintstagedrc
  .webpack/webpack.common.js
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
  package-lock.json
  package.json
  src/1222index.tsx
  src/components/atoms/icon/icons.tsx
  src/components/organisms/video-lesson/video-lesson.module.scss
  src/config/index.ts
  src/declaration.d.ts
  src/index.js
  src/index.tsx
  src/router/router-admin.tsx
  src/router/router.tsx
  src/router/routes.ts
  tsconfig.json
Due: eslint src/ --fix, prettier --write

build/add-jest
  .eslintignore
  .jest/__mocks__/fileMock.js
  .jest/__mocks__/identity-obj-proxy-esm.js
  .webpack/webpack.dev.js
  2121storybook/lizaAlertTheme.js
  2121storybook/main.js
  2121storybook/manager.js
  2121storybook/preview.js
  jest.config.js
  package-lock.json
  package.json
  src/components/atoms/icon/icon.test.tsx
  src/components/atoms/option/option.test.tsx
  src/config/import-build-target.ts
  src/config/index.ts
  src/setupTests.ts
Due: eslint src/ --fix

build/add-lefthook
  lefthook.yml
  package-lock.json
  package.json
Due: none

build/add-lefthook
  lefthook.yml
  package.json
  src/api/mock/courses.json
  src/api/mock/levels.json
  src/api/mock/test.json
  src/components/molecules/loader/loader.module.scss
  src/components/organisms/theory-lesson/theory-lesson.tsx
  src/components/templates/header/header.module.scss
  src/styles/_animations.scss
  src/styles/_color-variables.scss
Due: eslint src/ --fix, prettier --write

docs:update-readme
  README.md
  lefthook.yml
Due: none

build/delete-storybook-package
  package-lock.json
  package.json
Due: none

#344-fix-typings
  src/declaration.d.ts
Due: eslint src/ --fix

#344-fix-github-workflow
  .github/workflows/lint-pull-request.yml
Due: none

#344-add-style-loader-for-dev-config
  .webpack/webpack.common.js
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
  package-lock.json
  package.json
Due: none

#344-update-postcss-loader-settings
  .webpack/webpack.dev.js
  package-lock.json
  package.json
  postcss.config.js
Due: none

#344-add-terser-minimizer-plugin
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
Due: none

#344-update-readme
  README.md
Due: none

#344-update-index.html
  package.json
  public/index.html
Due: none

enhancement/update-courses-slice-and-thunk
  src/config/configure-axios.ts
  src/pages/courses/courses.tsx
  src/store/courses/selectors.ts
  src/store/courses/slice.ts
  src/store/courses/thunk.ts
  src/utils/constants.ts
Due: eslint src/ --fix

enhancement/update-course-slice-and-thunk
  src/pages/course/course.tsx
  src/pages/courses/courses.tsx
  src/store/course/selectors.ts
  src/store/course/slice.ts
  src/store/course/thunk.ts
  src/store/courses/selectors.ts
  src/store/courses/slice.ts
  src/store/courses/types.ts
Due: eslint src/ --fix

enhancement/update-profile-slice-and-thunk
  src/pages/profile/profile.jsx
  src/store/profile/selectors.js
  src/store/profile/slice.js
  src/store/profile/thunk.js
Due: eslint src/ --fix
