Repository Studio-Yandex-Practicum/lizaalert_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/ --fix, prettier --write

enhahncement/theory-lesson-add-mock-markdown
  src/api/mock/lessons.json
Due: none

#383-api-authorization
  src/api/authorization/authorization.api.ts
  src/api/authorization/types.ts
  src/components/organisms/login-form/login-form.tsx
  src/store/auth/thunk.js
Due: eslint src/ --fix

enhancement/theory-lesson-markdown (#384)
  package-lock.json
  package.json
  src/api/mock/lessons.json
  src/components/organisms/theory-lesson/theory-lesson.tsx
Due: eslint src/ --fix

enhancement/add-markdown-in-course-description
  src/components/organisms/course-description/constants.ts
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-description/types.ts
Due: eslint src/ --fix, prettier --write

enhancement/fix-after-rewiew
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
Due: eslint src/ --fix, prettier --write

enhancement/add-markdown-in-course-description (#386)
  src/components/organisms/course-description/constants.ts
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-description/types.ts
Due: eslint src/ --fix, prettier --write

#383-problem-with-redux
  src/api/base/base.api.ts
  src/store/auth/slice.js
  src/store/auth/thunk.js
Due: eslint src/ --fix

#383-fix-base-api
  src/api/authorization/types.ts
  src/api/base/base.api.ts
  src/store/auth/selectors.js
  src/store/auth/slice.js
  src/store/auth/thunk.js
  src/store/auth/types.ts
Due: eslint src/ --fix

#383-added-saving-the-token-to-the-store
  src/api/authorization/authorization.api.ts
  src/api/authorization/types.ts
  src/api/base/base.api.ts
  src/app/providers/withStore.provider.tsx
  src/components/organisms/login-form/login-form.tsx
  src/router/authorization.tsx
  src/store/auth/selectors.js
  src/store/auth/selectors.ts
  src/store/auth/slice.ts
  src/store/auth/thunk.js
  src/store/auth/thunk.ts
  src/store/auth/types.ts
  src/store/types.ts
Due: eslint src/ --fix

#383-base-api-corrected
  src/api/base/base.api.ts
Due: eslint src/ --fix

#383-comments-on-PR-have-been-fixed
  src/api/authorization/authorization.api.ts
  src/api/authorization/index.ts
  src/api/authorization/types.ts
  src/api/base/base.api.ts
  src/app/providers/withStore.provider.tsx
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
  src/utils/constants.ts
Due: eslint src/ --fix

#383-fix-formatting-and-todo
  src/components/organisms/login-form/login-form.tsx
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
Due: eslint src/ --fix

#383-add-authorization-with-token (#387)
  src/api/authorization/authorization.api.ts
  src/api/authorization/index.ts
  src/api/authorization/types.ts
  src/api/base/base.api.ts
  src/components/organisms/login-form/login-form.tsx
  src/router/authorization.tsx
  src/store/auth/selectors.js
  src/store/auth/selectors.ts
  src/store/auth/slice.js
  src/store/auth/slice.ts
  src/store/auth/thunk.js
  src/store/auth/thunk.ts
  src/store/auth/types.ts
  src/store/types.ts
  src/utils/constants.ts
Due: eslint src/ --fix

ui-enhancement-for-filters-and-courses
  src/components/organisms/error-locker/error-locker-content.tsx
  src/components/organisms/error-locker/error-locker.module.scss
  src/components/organisms/filter/filter.module.scss
  src/components/organisms/filter/filter.tsx
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.module.scss
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
Due: eslint src/ --fix, prettier --write

expand-no-data-message
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.module.scss
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/pages/courses/courses.tsx
Due: eslint src/ --fix, prettier --write

enhancement/ui-for-filters-and-courses (#390)
  src/components/organisms/error-locker/error-locker-content.tsx
  src/components/organisms/error-locker/error-locker.module.scss
  src/components/organisms/filter/filter.module.scss
  src/components/organisms/filter/filter.tsx
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.module.scss
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/pages/courses/courses.tsx
Due: eslint src/ --fix, prettier --write

#392-update-base-api-and-add-auth-interceptor
  src/api/authorization/authorization.api.ts
  src/api/base/base.api.ts
  src/api/base/index.ts
  src/api/base/types.ts
  src/api/core/abstract/base.api.ts
  src/api/core/abstract/core.api.ts
  src/api/core/constants.ts
  src/api/core/index.ts
  src/api/core/private.api.ts
  src/api/core/public.api.ts
  src/api/core/types.ts
  src/api/course/course.api.ts
  src/api/courses-filters/courses-filters.api.ts
  src/api/courses/courses.api.ts
  src/store/auth/helpers.ts
  src/store/auth/selectors.ts
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
  src/store/auth/types.ts
  src/store/types.ts
Due: eslint src/ --fix

#359-delete-tasks-component
  src/api/course/mock/course.ts
  src/components/organisms/course-description/constants.ts
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-description/types.ts
Due: eslint src/ --fix, prettier --write

#392-update-base-api-and-add-auth-refresh-interceptor (#399)
  src/api/authorization/authorization.api.ts
  src/api/base/base.api.ts
  src/api/base/index.ts
  src/api/base/types.ts
  src/api/core/abstract/base.api.ts
  src/api/core/abstract/core.api.ts
  src/api/core/constants.ts
  src/api/core/index.ts
  src/api/core/private.api.ts
  src/api/core/public.api.ts
  src/api/core/types.ts
  src/api/course/course.api.ts
  src/api/courses-filters/courses-filters.api.ts
  src/api/courses/courses.api.ts
  src/store/auth/helpers.ts
  src/store/auth/selectors.ts
  src/store/auth/slice.ts
  src/store/auth/thunk.ts
  src/store/auth/types.ts
  src/store/types.ts
Due: eslint src/ --fix

#394-routing-changes
  src/router/router.tsx
Due: eslint src/ --fix

#359-connect-lesson-progress-status-with-api
  src/api/course/index.ts
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/api/mock/course-content.json
  src/components/organisms/contents-item/constants.ts
  src/components/organisms/contents-item/contents-item.tsx
  src/components/organisms/contents-item/types.ts
Due: eslint src/ --fix

#394-move-courses-page-to-public-routes (#400)
  src/router/router.tsx
Due: eslint src/ --fix

#408-api-profile-store-profile
  src/api/profile/index.ts
  src/api/profile/mock/profile.ts
  src/api/profile/profile.api.ts
  src/api/profile/types.ts
  src/components/organisms/account-data/account-data.tsx
  src/store/profile/selectors.js
  src/store/profile/selectors.ts
  src/store/profile/slice.js
  src/store/profile/slice.ts
  src/store/profile/thunk.js
  src/store/profile/thunk.ts
  src/store/profile/types.ts
  src/store/types.ts
Due: eslint src/ --fix

#359-review-fix
  src/api/course/types.ts
  src/components/organisms/contents-item/constants.ts
  src/components/organisms/contents-item/contents-item.tsx
  src/components/organisms/course-description/constants.ts
  src/components/organisms/course-description/course-description.tsx
Due: eslint src/ --fix

#374-api-quiz-content
  src/api/lessons/index.ts
  src/api/lessons/lessons.api.ts
  src/api/lessons/mock/lessons.ts
  src/api/lessons/types.ts
  src/components/organisms/test-question/test-question.tsx
  src/components/organisms/test-question/types.ts
  src/components/organisms/test/hooks/use-test.ts
  src/components/organisms/test/types.ts
  src/store/test/slice.js
  src/store/test/thunk.js
  src/store/test/thunk.ts
Due: eslint src/ --fix

#374-edit-answer-type-and-api
  src/api/lessons/lessons.api.ts
  src/api/lessons/mock/test.ts
  src/api/lessons/types.ts
  src/api/mock/test.json
  src/components/molecules/test-answer/test-answer.tsx
  src/components/molecules/test-answer/types.ts
  src/components/molecules/test-results/test-results.tsx
  src/components/molecules/test-results/types.ts
  src/components/organisms/test-question/types.ts
  src/components/organisms/test/hooks/use-test.ts
  src/store/test/slice.js
  src/store/test/thunk.ts
Due: eslint src/ --fix

#374-deletes-checked-status-for-answer
  src/components/molecules/test-answer/test-answer.tsx
Due: eslint src/ --fix

#374-api-qiuz-content
  src/api/lessons/index.ts
  src/api/lessons/lessons.api.ts
  src/api/lessons/mock/lessons.ts
  src/api/lessons/mock/test.ts
  src/api/lessons/types.ts
  src/api/mock/test.json
  src/components/molecules/test-answer/test-answer.tsx
  src/components/molecules/test-answer/types.ts
  src/components/organisms/test-question/test-question.tsx
  src/components/organisms/test-question/types.ts
  src/components/organisms/test/hooks/use-test.ts
  src/components/organisms/test/types.ts
  src/store/test/slice.js
  src/store/test/thunk.ts
Due: eslint src/ --fix

#374-quiz-content (#388)
  src/api/lessons/index.ts
  src/api/lessons/lessons.api.ts
  src/api/lessons/mock/test.ts
  src/api/lessons/types.ts
  src/api/mock/test.json
  src/components/molecules/test-answer/test-answer.tsx
  src/components/molecules/test-answer/types.ts
  src/components/molecules/test-results/test-results.tsx
  src/components/molecules/test-results/types.ts
  src/components/organisms/test-question/test-question.tsx
  src/components/organisms/test-question/types.ts
  src/components/organisms/test/hooks/use-test.ts
  src/store/test/slice.js
  src/store/test/thunk.js
  src/store/test/thunk.ts
Due: eslint src/ --fix

#359-review-fix-finished
  src/components/organisms/contents-item/contents-item.tsx
  src/components/organisms/course-benefits/course-benefits.tsx
  src/components/organisms/faq/faq.tsx
Due: eslint src/ --fix

#359-connect-course-page-to-api (#401)
  src/api/course/index.ts
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/api/mock/course-content.json
  src/components/organisms/contents-item/constants.ts
  src/components/organisms/contents-item/contents-item.tsx
  src/components/organisms/contents-item/types.ts
  src/components/organisms/course-benefits/constants.ts
  src/components/organisms/course-benefits/course-benefits.tsx
  src/components/organisms/course-description/constants.ts
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-description/types.ts
  src/components/organisms/faq/constants.ts
  src/components/organisms/faq/faq.tsx
  src/pages/course/course.tsx
  src/store/course/selectors.ts
Due: eslint src/ --fix, prettier --write

#376-fix-course-main-section-layout
  src/pages/course/course.module.scss
Due: prettier --write

#376-fix-course-main-section-layout (#409)
  src/pages/course/course.module.scss
Due: prettier --write

#407-add-markdown-component
  package-lock.json
  package.json
  src/components/molecules/markdown/index.ts
  src/components/molecules/markdown/markdown.module.scss
  src/components/molecules/markdown/markdown.tsx
  src/components/molecules/markdown/types.ts
  src/components/organisms/theory-lesson/theory-lesson.module.scss
  src/components/organisms/theory-lesson/theory-lesson.tsx
  src/components/organisms/theory-lesson/types.ts
  src/styles/index.scss
  src/styles/typography.scss
Due: eslint src/ --fix, prettier --write

#407-updates
  src/components/molecules/markdown/markdown.module.scss
  src/components/molecules/markdown/markdown.tsx
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
Due: eslint src/ --fix, prettier --write

#389-fix-course-content-routes
  src/components/organisms/contents-item/contents-item.tsx
Due: eslint src/ --fix

#389-add-routing-to-current-lesson
  src/components/molecules/styled-link/styled-link.module.scss
  src/components/molecules/styled-link/styled-link.tsx
  src/components/molecules/styled-link/types.ts
  src/components/organisms/contents-item/contents-item.tsx
Due: eslint src/ --fix, prettier --write

#407-change-margin-for-description
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
Due: eslint src/ --fix, prettier --write

#407-markdown-component (#412)
  package-lock.json
  package.json
  src/components/molecules/markdown/index.ts
  src/components/molecules/markdown/markdown.module.scss
  src/components/molecules/markdown/markdown.tsx
  src/components/molecules/markdown/types.ts
  src/components/organisms/course-description/course-description.module.scss
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/theory-lesson/theory-lesson.module.scss
  src/components/organisms/theory-lesson/theory-lesson.tsx
  src/components/organisms/theory-lesson/types.ts
  src/styles/index.scss
  src/styles/typography.scss
Due: eslint src/ --fix, prettier --write

#395-connect-lesson-page-to-api
  src/api/course/course.api.ts
  src/api/course/mock/lesson.ts
  src/api/course/types.ts
  src/components/organisms/course-contents/course-contents.module.scss
  src/components/organisms/course-contents/course-contents.tsx
  src/components/organisms/error-locker/error-locker-content.tsx
  src/components/organisms/error-locker/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/pages/lesson/lesson.jsx
  src/pages/lesson/lesson.module.scss
  src/pages/lesson/lesson.tsx
  src/store/course/selectors.ts
  src/store/course/slice.ts
  src/store/lesson/selectors.js
  src/store/lesson/selectors.ts
  src/store/lesson/slice.ts
  src/store/lesson/thunk.js
  src/store/lesson/thunk.ts
  src/store/lesson/types.ts
  src/store/types.ts
Due: eslint src/ --fix, prettier --write

Path conditions:
  eslint src/ --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/**/*.{scss,css}) or (any of: *.md)
