Repository Studio-Yandex-Practicum/lizaalert_frontend: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --ignore-unknown --write {staged_files} && git add {staged_files}

lint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

enhancement/update-lesson-slice-and-thunk
  src/pages/lesson/lesson.jsx
  src/store/lesson/selectors.js
  src/store/lesson/slice.js
  src/store/lesson/thunk.js
Due: lint

enhancement/update-test-slice-and-thunk
  src/components/organisms/test/hooks/use-test.ts
  src/components/organisms/test/test.tsx
  src/store/test/selectors.js
  src/store/test/slice.js
  src/store/test/thunk.js
Due: lint

enhancement/update-auth-slice-and-thunk
  src/components/organisms/login-form/login-form.tsx
  src/store/auth/selectors.js
  src/store/auth/slice.js
  src/store/auth/thunk.js
Due: lint

enhancement/add-base-api-for-requests
  src/api/base/base.api.ts
  src/api/base/index.ts
  src/api/base/types.ts
  src/api/course/course.api.ts
  src/api/course/index.ts
  src/api/courses/courses.api.ts
  src/api/courses/index.ts
  src/config/configure-axios.ts
  src/index.tsx
  src/store/course/thunk.ts
  src/store/courses/thunk.ts
  src/utils/unpack-module.ts
Due: lint

enhancement/mock-is-optional
  src/api/base/base.api.ts
  src/api/base/types.ts
Due: lint

enhancement/types
  src/api/courses/courses.api.ts
Due: lint

еnhancement/api-and-redux (#347)
  src/api/base/base.api.ts
  src/api/base/index.ts
  src/api/base/types.ts
  src/api/course/course.api.ts
  src/api/course/index.ts
  src/api/courses/courses.api.ts
  src/api/courses/index.ts
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/test/hooks/use-test.ts
  src/components/organisms/test/test.tsx
  src/config/configure-axios.ts
  src/index.tsx
  src/pages/course/course.tsx
  src/pages/courses/courses.tsx
  src/pages/lesson/lesson.jsx
  src/pages/profile/profile.jsx
  src/store/auth/selectors.js
  src/store/auth/slice.js
  src/store/auth/thunk.js
  src/store/course/selectors.ts
  src/store/course/slice.ts
  src/store/course/thunk.ts
  src/store/courses/selectors.ts
  src/store/courses/slice.ts
  src/store/courses/thunk.ts
  src/store/courses/types.ts
  src/store/lesson/selectors.js
  src/store/lesson/slice.js
  src/store/lesson/thunk.js
  src/store/profile/selectors.js
  src/store/profile/slice.js
  src/store/profile/thunk.js
  src/store/test/selectors.js
  src/store/test/slice.js
  src/store/test/thunk.js
  src/utils/constants.ts
  src/utils/unpack-module.ts
Due: lint

bug/fixes
  .env.example
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
  docs/style-guide.md
  package.json
  src/api/course/course.api.ts
  src/components/molecules/button/button.module.scss
  src/components/organisms/course-preview/course-preview.tsx
Due: format, lint

revert/selectors
  src/api/mock/course-content.json
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/test/hooks/use-test.ts
  src/components/organisms/test/test.tsx
  src/hooks/use-pathnames.js
  src/pages/course/course.tsx
  src/pages/courses/courses.tsx
  src/pages/lesson/lesson.jsx
  src/pages/profile/profile.jsx
  src/store/auth/selectors.js
  src/store/course/selectors.ts
  src/store/courses/selectors.ts
  src/store/lesson/selectors.js
  src/store/profile/selectors.js
  src/store/test/selectors.js
Due: lint

build/update-deps
  package-lock.json
  package.json
Due: none

maintenance/rename-mock-files
  .env.example
  src/api/course/course.api.ts
  src/api/course/mock/course.ts
  src/api/courses/courses.api.ts
  src/api/courses/mock/courses.ts
Due: lint

update-readme-and-pr-template
  .github/pull_request_template.md
  README.md
Due: format

#353-create-register-page-and-refactor-login-page
  src/components/organisms/login-form/login-form.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/index.ts
  src/components/organisms/register-form/register-form.module.scss
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/pages/register/register.module.scss
  src/pages/register/register.tsx
  src/router/router.tsx
  src/utils/constants.ts
Due: format, lint

#349-update-webpack-builds
  .webpack/utils.js
  .webpack/webpack.common.js
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
  config/build/build-devserver.ts
  config/build/build-loaders.ts
  config/build/build-optimizations.ts
  config/build/build-plugins.ts
  config/build/build-resolvers.ts
  config/build/build-webpack-config.ts
  config/build/constants.ts
  config/build/types.ts
  package-lock.json
  package.json
  src/config/index.ts
  tsconfig.json
  webpack.config.ts
Due: lint

#349-fix-api-request-in-mock-mode
  src/api/base/base.api.ts
  src/api/base/types.ts
  src/api/course/course.api.ts
  src/api/courses/courses.api.ts
Due: lint

#349-compress-images
  src/assets/images/course-placeholder.jpg
  src/assets/images/course.jpg
  src/assets/images/error-cat.png
  src/assets/images/profile.jpg
Due: none

#349-update-docker-build
  .dockerignore
  Dockerfile
  Dockerfile_admin
  Dockerfile_base
  config/nginx/nginx.conf
  docker-compose.yml
Due: none

build/349-docker (#356)
  .dockerignore
  .webpack/utils.js
  .webpack/webpack.common.js
  .webpack/webpack.dev.js
  .webpack/webpack.prod.js
  Dockerfile
  Dockerfile_admin
  Dockerfile_base
  config/build/build-devserver.ts
  config/build/build-loaders.ts
  config/build/build-optimizations.ts
  config/build/build-plugins.ts
  config/build/build-resolvers.ts
  config/build/build-webpack-config.ts
  config/build/constants.ts
  config/build/types.ts
  config/nginx/nginx.conf
  docker-compose.yml
  package-lock.json
  package.json
  src/api/base/base.api.ts
  src/api/base/types.ts
  src/api/course/course.api.ts
  src/api/courses/courses.api.ts
  src/assets/images/course-placeholder.jpg
  src/assets/images/course.jpg
  src/assets/images/error-cat.png
  src/assets/images/profile.jpg
  src/config/index.ts
  tsconfig.json
  webpack.config.ts
Due: lint

#357-open-course-by-clicking-on-card
  src/components/atoms/card/card.tsx
  src/components/atoms/card/types.ts
  src/components/organisms/course-preview/course-preview.module.scss
  src/components/organisms/course-preview/course-preview.tsx
Due: format, lint

#353-maintenance-register-and-login-page
  src/components/organisms/login-form/login-form.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/login-form/types.ts
  src/components/organisms/register-form/register-form.module.scss
  src/components/organisms/register-form/register-form.tsx
  src/router/authorization.tsx
  src/router/router.tsx
  src/router/types.ts
Due: format, lint

#353-fix-ASCII-symbols
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/router/authorization.tsx
  src/utils/constants.ts
Due: lint

#353-create-register-page-and-refactor-login-page (#354)
  src/components/organisms/login-form/login-form.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/login-form/types.ts
  src/components/organisms/register-form/index.ts
  src/components/organisms/register-form/register-form.module.scss
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/pages/register/register.module.scss
  src/pages/register/register.tsx
  src/router/authorization.tsx
  src/router/router.tsx
  src/router/types.ts
  src/utils/constants.ts
Due: format, lint

#357-fix-inactive-enroll-course-button
  src/api/mock/statuses.json
  src/utils/constants.ts
Due: lint

enhancement/add-store-process-constants
  src/pages/courses/courses.tsx
  src/store/courses/selectors.ts
  src/store/courses/slice.ts
  src/store/courses/types.ts
  src/utils/constants.ts
Due: lint

enhancement/add-store-process-constants (#362)
  src/pages/courses/courses.tsx
  src/store/courses/selectors.ts
  src/store/courses/slice.ts
  src/store/courses/types.ts
  src/utils/constants.ts
Due: lint

#363-update-infinite-scrolling
  src/components/molecules/error-locker/error-locker.module.scss
  src/components/molecules/error-locker/error-locker.tsx
  src/components/molecules/error-locker/index.ts
  src/components/molecules/error-locker/types.ts
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/declaration.d.ts
  src/hooks/use-intersection-observer.ts
  src/pages/courses/courses.tsx
  src/store/courses/slice.ts
  src/store/courses/types.ts
Due: format, lint

#363-fix-type
  src/declaration.d.ts
Due: lint

#363-add-simple-button
  src/components/molecules/error-locker/error-locker.module.scss
  src/components/molecules/error-locker/error-locker.tsx
  src/components/molecules/error-locker/index.ts
  src/components/molecules/error-locker/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.module.scss
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
Due: format, lint

bug:don't work api request
  package-lock.json
  src/api/authorization/authorization.api.ts
  src/api/authorization/index.ts
  src/api/authorization/mock/authorization.ts
  src/api/authorization/types.ts
  src/api/registration/index.ts
  src/api/registration/mock/registration.ts
  src/api/registration/registration.api.ts
  src/api/registration/types.ts
  src/pages/register/register.tsx
  tsconfig.json
Due: lint

fix: api registration work & api authorization work
  src/api/authorization/authorization.api.ts
  src/api/authorization/mock/authorization.ts
  src/api/authorization/types.ts
  src/api/registration/registration.api.ts
  src/api/token/token.api.ts
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/register-form.tsx
Due: lint

#363-fix-generic-type
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
Due: lint

feat: api registration and authorization
  src/api/authorization/authorization.api.ts
  src/api/authorization/types.ts
  src/api/registration/registration.api.ts
  src/api/registration/types.ts
  src/api/token/token.api.ts
  src/api/token/types.ts
  src/components/organisms/register-form/register-form.tsx
Due: lint

#363-enhancement/update-infinite-scrolling (#364)
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.module.scss
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/hooks/use-intersection-observer.ts
  src/pages/courses/courses.tsx
  src/store/courses/slice.ts
  src/store/courses/types.ts
Due: format, lint

fix: make input telefon required
  src/components/organisms/register-form/register-form.tsx
Due: lint

#357-review-fixes
  src/api/mock/statuses.json
  src/components/atoms/card/card.tsx
  src/components/atoms/card/types.ts
  src/components/organisms/course-preview/course-preview.module.scss
  src/components/organisms/course-preview/course-preview.tsx
  src/utils/constants.ts
Due: format, lint

#357-review-fixes
  src/components/organisms/course-preview/course-preview.module.scss
Due: format

add-formik-and-yup
  package-lock.json
  package.json
  src/components/molecules/input/input.module.scss
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/utils/validation.ts
Due: format, lint

#360-add-filters
  src/api/courses-filters/courses-filters.api.ts
  src/api/courses-filters/index.ts
  src/api/courses-filters/mock/courses-filters.ts
  src/api/courses-filters/types.ts
  src/api/courses/courses.api.ts
  src/api/courses/index.ts
  src/api/courses/types.ts
  src/components/molecules/checkbox/checkbox.tsx
  src/components/molecules/tag/tag.tsx
  src/components/molecules/tag/types.ts
  src/components/organisms/filter/constants.ts
  src/components/organisms/filter/filter.tsx
  src/components/organisms/filter/hooks/use-filter.ts
  src/components/organisms/filter/index.ts
  src/components/organisms/filter/types.ts
  src/declaration.d.ts
  src/hooks/use-event.ts
  src/pages/courses/courses.module.scss
  src/pages/courses/courses.tsx
  src/store/courses-filters/selectors.ts
  src/store/courses-filters/slice.ts
  src/store/courses-filters/thunk.ts
  src/store/courses-filters/types.ts
  src/store/courses/thunk.ts
  src/store/reducers.ts
  src/store/types.ts
  src/utils/constants.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,scss,md}
  lint: any of: *.{ts,tsx,js,jsx}
