Repository Studio-Yandex-Practicum/lizaalert_frontend: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,scss,md}'
      run: npx prettier --ignore-unknown --write {staged_files} && git add {staged_files}
    lint:
      glob: '*.{ts,tsx,js,jsx}'
      run: npx eslint --fix {staged_files} && git add {staged_files}

#360-add-debounce
  src/hooks/use-debounce.ts
  src/hooks/use-event.ts
  src/pages/courses/courses.tsx
  src/utils/constants.ts
Due: lint

#360-add-error-locker
  src/components/organisms/error-locker/error-locker.module.scss
  src/components/organisms/error-locker/error-locker.tsx
  src/components/organisms/error-locker/index.ts
  src/components/organisms/error-locker/types.ts
Due: format, lint

#357-update-courses-routing (#365)
  src/api/mock/statuses.json
  src/components/organisms/course-preview/course-preview.module.scss
  src/components/organisms/course-preview/course-preview.tsx
  src/utils/constants.ts
Due: format, lint

#360-fix-filters-requests
  src/api/courses/courses.api.ts
  src/components/organisms/error-locker/error-locker.tsx
  src/components/organisms/filter/filter.module.scss
  src/components/organisms/filter/filter.tsx
  src/components/organisms/filter/hooks/use-filter.ts
  src/pages/courses/courses.tsx
Due: format, lint

#187-add-lazy-loading-for-pages
  config/build/build-webpack-config.ts
  src/pages/course/index.ts
  src/pages/courses/index.ts
  src/pages/create-course/index.ts
  src/pages/development/index.ts
  src/pages/edit-course/index.ts
  src/pages/edit-lesson/index.ts
  src/pages/index.ts
  src/pages/lesson/index.ts
  src/pages/login/index.ts
  src/pages/not-found/index.ts
  src/pages/profile/index.ts
  src/pages/register/index.ts
  src/router/router-admin.tsx
  src/router/router.tsx
Due: lint

#187-add-lazy-loading-for-pages (#369)
  config/build/build-webpack-config.ts
  src/pages/course/index.ts
  src/pages/courses/index.ts
  src/pages/create-course/index.ts
  src/pages/development/index.ts
  src/pages/edit-course/index.ts
  src/pages/edit-lesson/index.ts
  src/pages/index.ts
  src/pages/lesson/index.ts
  src/pages/login/index.ts
  src/pages/not-found/index.ts
  src/pages/profile/index.ts
  src/pages/register/index.ts
  src/router/router-admin.tsx
  src/router/router.tsx
Due: lint

fix: correction of comments after code review
  src/api/authorization/authorization.api.ts
  src/api/authorization/mock/authorization.ts
  src/api/authorization/mock/login.ts
  src/api/authorization/types.ts
  src/api/registration/mock/registration.ts
  src/api/registration/registration.api.ts
  src/api/registration/types.ts
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/register-form.tsx
  src/pages/register/register.tsx
Due: lint

fix: input of telefon make required
  src/components/organisms/register-form/register-form.tsx
Due: lint

fix:correction of remarks in types and transfer of the registration method to the AuthorizationApi
  src/api/authorization/authorization.api.ts
  src/api/authorization/mock/login.ts
  src/api/authorization/mock/registration.ts
  src/api/authorization/types.ts
  src/api/registration/index.ts
  src/api/registration/registration.api.ts
  src/api/registration/types.ts
Due: lint

#355-add-register-and-login-api (#366)
  src/api/authorization/authorization.api.ts
  src/api/authorization/index.ts
  src/api/authorization/mock/login.ts
  src/api/authorization/mock/registration.ts
  src/api/authorization/types.ts
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/register-form.tsx
Due: lint

fix: update branch to branch master
  config/build/build-webpack-config.ts
  src/api/mock/statuses.json
  src/components/organisms/course-preview/course-preview.module.scss
  src/components/organisms/course-preview/course-preview.tsx
  src/pages/course/index.ts
  src/pages/courses/index.ts
  src/pages/create-course/index.ts
  src/pages/development/index.ts
  src/pages/edit-course/index.ts
  src/pages/edit-lesson/index.ts
  src/pages/index.ts
  src/pages/lesson/index.ts
  src/pages/login/index.ts
  src/pages/not-found/index.ts
  src/pages/profile/index.ts
  src/pages/register/index.ts
  src/router/router-admin.tsx
  src/router/router.tsx
  src/utils/constants.ts
Due: format, lint

add formik and yup to the login-form
  package-lock.json
  package.json
  src/components/organisms/login-form/login-form.tsx
Due: lint

fix: deleting redundant comments
  src/components/organisms/login-form/login-form.tsx
Due: lint

fix: delete dependencies lefthook-darwin-x64
  package-lock.json
  package.json
Due: none

#370-use-formik-and-yup-for-login-and-register-forms (#371)
  package-lock.json
  package.json
  src/components/molecules/input/input.module.scss
  src/components/organisms/login-form/login-form.tsx
  src/components/organisms/register-form/register-form.tsx
  src/components/organisms/register-form/types.ts
  src/utils/validation.ts
Due: format, lint

#360-update-filters
  src/api/courses-filters/courses-filters.api.ts
  src/api/courses-filters/mock/courses-filters.ts
  src/api/courses-filters/types.ts
  src/components/organisms/filter/filter.tsx
  src/components/organisms/filter/hooks/use-filter.ts
  src/components/organisms/with-infinite-scroll/hooks/usePaginationState.ts
  src/components/organisms/with-infinite-scroll/index.ts
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/pages/courses/courses.tsx
  src/pages/courses/types.ts
  src/store/courses-filters/slice.ts
  src/store/courses-filters/types.ts
Due: lint

#360-clean-courses-store-on-unmount
  src/pages/courses/courses.tsx
Due: lint

#360-better-error-locker
  src/components/organisms/error-locker/error-locker-content.tsx
  src/components/organisms/error-locker/error-locker.tsx
  src/components/organisms/error-locker/types.ts
Due: lint

#360-change-filters-structure
  src/components/organisms/filter/filter.tsx
  src/components/organisms/filter/hooks/use-filter.ts
  src/components/organisms/filter/types.ts
Due: lint

#360-some-code-cleaning
  src/components/molecules/checkbox/checkbox.tsx
  src/components/organisms/filter/filter.tsx
  src/components/organisms/with-infinite-scroll/hooks/usePaginationState.ts
Due: lint

#360-add-courses-filters (#368)
  src/api/courses-filters/courses-filters.api.ts
  src/api/courses-filters/index.ts
  src/api/courses-filters/mock/courses-filters.ts
  src/api/courses-filters/types.ts
  src/api/courses/courses.api.ts
  src/api/courses/index.ts
  src/api/courses/types.ts
  src/components/molecules/checkbox/checkbox.tsx
  src/components/molecules/tag/tag.tsx
  src/components/molecules/tag/types.ts
  src/components/organisms/error-locker/error-locker-content.tsx
  src/components/organisms/error-locker/error-locker.module.scss
  src/components/organisms/error-locker/error-locker.tsx
  src/components/organisms/error-locker/index.ts
  src/components/organisms/error-locker/types.ts
  src/components/organisms/filter/constants.ts
  src/components/organisms/filter/filter.module.scss
  src/components/organisms/filter/filter.tsx
  src/components/organisms/filter/hooks/use-filter.ts
  src/components/organisms/filter/index.ts
  src/components/organisms/filter/types.ts
  src/components/organisms/with-infinite-scroll/hooks/usePaginationState.ts
  src/components/organisms/with-infinite-scroll/index.ts
  src/components/organisms/with-infinite-scroll/types.ts
  src/components/organisms/with-infinite-scroll/with-infinite-scroll.tsx
  src/declaration.d.ts
  src/hooks/use-debounce.ts
  src/hooks/use-event.ts
  src/pages/courses/courses.module.scss
  src/pages/courses/courses.tsx
  src/pages/courses/types.ts
  src/store/courses-filters/selectors.ts
  src/store/courses-filters/slice.ts
  src/store/courses-filters/thunk.ts
  src/store/courses-filters/types.ts
  src/store/courses/thunk.ts
  src/store/reducers.ts
  src/store/types.ts
  src/utils/constants.ts
Due: format, lint

#359-remove-course-tasks-hard-code
  src/components/organisms/course-description/course-description.tsx
  src/components/organisms/course-description/types.ts
Due: lint

enhancement/add-deploy-workflow-and-docker-compose-production
  .github/workflows/deploy.yml
  docker-compose.production.yml
Due: none

enhancement/modify-deploy-workflow-run
  .github/workflows/deploy.yml
Due: none

enhancement/modify-deploy-workflow-trigger
  .github/workflows/deploy.yml
Due: none

enhancement/add-jobs-to-workflow
  .github/workflows/deploy.yml
  docker-compose.production.yml
Due: none

enhancement/add-jobs-to-workflow v1
  .github/workflows/deploy.yml
Due: none

enhancement/add-jobs-to-workflow v2
  .github/workflows/deploy.yml
Due: none

#359-get-knowledge-section-data-from-api
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/components/organisms/course-benefits/constants.ts
  src/components/organisms/course-benefits/course-benefits.tsx
  src/pages/course/course.tsx
  src/store/course/selectors.ts
Due: lint

#359-get-faq-section-data-from-api
  src/api/course/mock/course.ts
  src/api/course/types.ts
  src/components/organisms/faq/constants.ts
  src/components/organisms/faq/faq.tsx
  src/pages/course/course.tsx
  src/store/course/selectors.ts
Due: lint

#359-remove-unused-default-description-constants
  src/components/organisms/course-description/constants.ts
  src/components/organisms/course-description/course-description.tsx
Due: lint

enhancement/chang-deployWorkflow-trigger
  .github/workflows/deploy.yml
  docker-compose.production.yml
Due: none

enhancement/change-container-ports-in-prod
  docker-compose.production.yml
Due: none

Enhancement/ci cd (#377)
  .github/workflows/deploy.yml
  docker-compose.production.yml
Due: none

enhancement/add-env-to-dockerfile
  Dockerfile
Due: none

#375-api-content
  src/api/content/content.api.ts
  src/api/content/index.ts
  src/pages/lesson/lesson.jsx
Due: lint

#375-fix-changing then/cath to try/cath
  src/pages/lesson/lesson.jsx
Due: lint

fix:removed unnecessary api request
  src/api/content/content.api.ts
  src/api/content/index.ts
  src/pages/lesson/lesson.jsx
Due: lint

enhancement/add-env-to-dockerfile (#379)
  Dockerfile
Due: none

enhancement/theory-lesson-markdown
  package-lock.json
  package.json
  src/api/mock/lessons.json
  src/components/organisms/theory-lesson/theory-lesson.tsx
Due: lint
